body {
    background-color: skyblue;
    color: white;
    font-family: geneva;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: deeppink;
}

.home {
    color: rgb(254, 234, 237);
}

.about {
    color: rgb(254, 234, 237);
}

.portfolio {
    color: rgb(254, 234, 237);
}

h1 {
    text-shadow: 1px 1px 1px deeppink;
    text-shadow: 4px 2px 2px deeppink;
    font-family: georgia;
    color: rgb(254, 234, 237);
}

.barbiesamanthalauren{
    transition: margin-right 4s;
}

.circle1{
    position: relative;
    height: 1em;
    width: 1em;
    background-color: deeppink;
    border-radius: 50%;
    z-index: 1;
    left: 370px;
    top: 50px;
}

.circle2{
    position: relative;
    height: 1em;
    width: 1em;
    background-color: rgb(254, 234, 237);
    border-radius: 50%;
    z-index: 1;
    left: 378px;
    top: 34px;
}

.soccerheader{
    display:flex;
}

.soccersection {
    display: flex;
}

.soccerimage {
    margin: 10px;
    padding: 5px;
}

.pianoheader{
    display:flex;
}

.pianosection {
    display: flex;
}

.pianoimage {
    margin: 10px;
    padding: 5px;
}

.strollheader{
    display:flex;
}

.strollsection {
    display: flex;
}

.strollimage {
    margin: 10px;
    padding: 5px;
}

.zoosection{
    display: flex;
}

.zooheader{
    display:flex;
}

.zooimage{
    margin: 10px;
    padding: 5px;
}

.grocerysection{
    display: flex;
}

.groceryheader{
    display:flex;
}

.groceryimage{
    margin: 10px;
    padding: 5px;
}

.fairysection{
    display: flex;
}

.fairyheader {
    display:flex;
}

.fairyimage{
    margin: 10px;
    padding: 5px;
}